#regulaFalsi-container{
    background-color: black;
    min-height: 70vh;
    padding: 2rem;
    
}

.rfform{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.rfform__submit{
    grid-column: 3/4;   
    background-color: green;
    border: none;
    color: inherit;
    border-radius: 5px;
}
.rfform__submit:hover{
    background-color: rgba(0, 128, 0, 0.5);
}


.rfform__submit:focus{
    border: 1px solid greenyellow;
    outline: none;
}

.rfform__submit::-moz-focus-inner {
    border: 0;
}



.rfform__label{
    grid-column: 1/1;
}
.rfform__input{
    grid-column: 2/4;
}
.rfform > *[type=number]:focus,*[type=text]:focus,#precision:focus{
    border: 2px solid rgb(0, 89, 255);
    border-radius: 2px;
}

.rfdisplay{
    margin-top: 3rem;
}
.rfdisplay__table{
    max-width: 700px;
    margin: 0 auto;
}

@media only screen and (max-width:600px){
    .rfform{
        grid-template-columns: 1fr;
    }
    .rfform > *{
        grid-column: auto;
    }
}