/* You can add global styles to this file, and also import other style files */
*,*,*::before,*::after{
    box-sizing: border-box;
}

*::-moz-focus-inner {
    border: 0;
  }

  
html {
    scroll-behavior: smooth;
    background-color: darkslategray;
    color: white;
}

a{
    text-decoration: none;
}
