/* You can add global styles to this file, and also import other style files */
*,*,*::before,*::after{
    box-sizing: border-box;
}

*::-moz-focus-inner {
    border: 0;
  }

  
html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
body{
    background-color: darkslategray;
    color: white;
}

td,th{
    color: white;
}
thead{
    background-color: rgb(0, 37, 0);
}